<!-- <img class="wave" src="assets/img/wave.png"> -->
<!-- <div class="container">
    <div class="img">
        <img src="assets/img/bg.svg">
    </div>
    <div class="login-content">
        <form action="index.html">
            <img src="assets/img/avatar.svg">
            <h2 class="title">Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Username</h5>
                    <input type="text" class="input">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input type="password" class="input">
                </div>
            </div>
            <a href="#">Forgot Password?</a>
            <input type="submit" class="btn" value="Login">
        </form>
    </div>
</div> -->




<!-- <mat-card [ngClass]="{'selected-card':titleSelected === 'title2'}">
    <mat-card-header>
        <img src="assets/img/avatar.svg">
      
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                        </mat-form-field>
                    </td>
                </tr>
                <p *ngIf="error" class="error">
                    {{ error }}
                </p>
            </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="checkLogin()" color="warn" class="btn-block btn btn-primary">Login</button>
    </mat-card-actions>
</mat-card> -->


<div class="container h-100" [ngClass]="{'selected-card':titleSelected === 'title2'}">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="assets/img/avatar.svg" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="form_container">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user fas-lg"></i></span>
                        </div>
                        <input type="text" name="" matInput [(ngModel)]="username" name="username" required class="form-control input_user" value="" placeholder="username">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="" matInput [(ngModel)]="password" type="password" name="password" required class="form-control input_pass" value="" placeholder="password">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Remember me</label>
                        </div>
                    </div>
                    <p *ngIf="error" class="error">
                        {{ error }}
                    </p>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="button" name="button" mat-raised-button (click)="checkLogin()" class="btn btn-block login_btn">Login</button>
                    </div>
                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="/signup" [routerLink]="['/signup']" class="ml-2">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="assets/js/main.js"></script>