<div class="container-fluid">
    <div class="row">
        <div class="col-sm ">
            <!-- <a href="/department" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-users text-primary"></i></span>
                <br>Departments
            </a> -->

            <mat-card id="" class="card bg-primary mat-elevation-z8 text-white text-center" (click)="toggleData('dept')">
                <mat-card-content>
                    <br>
                    <br>

                    <h1 class="h1 ">
                        <mat-card-title>
                            Department
                        </mat-card-title>
                    </h1>
                    <br>





                </mat-card-content>
            </mat-card>
            <!-- <button role="button" class="btn btn-primary btn-lg btn-block text-center" (click)="toggleData('dept')"><span><i class="fa fa-users text-white"></i></span>
                <br>Departments</button> -->
        </div>
        <div class="col-md">
            <mat-card class="card bg-warning text-white" (click)="toggleData('crse')">
                <mat-card-content>
                    <br>
                    <br>

                    <h1 class="h1 ">
                        <mat-card-title>
                            Course
                        </mat-card-title>
                    </h1>
                    <br>

                </mat-card-content>
            </mat-card>
            <!-- <button class="btn btn-success btn-lg btn-block text-center" (click)="toggleData('crse')"><span><i class="fa fa-users text-white"></i></span>
                <br>Course</button> -->
        </div>
        <div class="col-sm">
            <mat-card class="card bg-success text-white" (click)="toggleData('unit')">
                <mat-card-content>
                    <br>
                    <br>
                    <br>
                    <mat-card-title> Units</mat-card-title>

                </mat-card-content>
            </mat-card>


        </div>
        <div class="col-sm">
            <mat-card class="card bg-danger text-white">
                <mat-card-content>
                    <br>
                    <br>
                    <br>
                    <mat-card-title> Faculty</mat-card-title>

                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>
<hr>